<div class="container interest-container">
  <h3>{{ site.interests_title | default: "Interests" }}</h3>
  <div class="row clearfix layout layout-left">
    <div class="col-xs-12 col-sm-4 col-md-3 col-print-12 details">
      <ul>
        <li>
          {% for interest in site.data.interests %}
            {% include {{ interest.layout | default: 'left' | append: ".html" }} item=interest %}
          {% endfor %}
        </li>
      </ul>
    </div>
  </div>

  <!--
  <br>
  <div class="row clearfix">
    <div class="col-md-12">
        <ul>
            <li>
              Backend Development, RESTfull web services, microservices.
            </li>
            <li>
              Data science, machine learning and big data.
            </li>
            <li>
              Computer vision,image processing and Natural language processing.
            </li>
            <li>
              Mobile Technologies like User Experience (UX) / User Interface (UI) Specialist.
            </li>
            <li>
                Databases and knowledge-bases.
            </li>
            <li>
                Programming tools, environments, and program analysis (testing, debugging, reuse, usability).
            </li>
         </ul>
    </div>
  </div>
</div>
-->